header{
  background: #504136;
  color: #B2E6D4;
  padding: 1px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

header nav a {
  margin-left: 18px;
  text-decoration: none;
  color: #B2E6D4;
  font-weight: 500;
  cursor: pointer;
}

header nav a.ativado {
  border-bottom: 2px solid #83EBBA;
}

.logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #83EBBA;
    font-family: "Stack Sans Notch", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.imglogo{
    margin-left: 250px; 
    width: 80px;
    height: 80px;
}

body{
    text-align: center;
    background: linear-gradient(to bottom, #689689, #B2E6D4);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 48px; 
}

.feed-intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 32px;
}


.feed_topo {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px; 
}

.imgdecor {
    width: 500px;
    height: auto;
    border: 3px solid #2b2001; 
    box-shadow: 0 8px 18px rgba(0,0,0,0.25);
    transition: transform .25s ease, box-shadow .25s ease;
}

.img-lateral {
    margin-left: 20px;
}

.img-abaixo {
    margin-top: 20px; 
}

.feed-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background: linear-gradient(to left,#d1faf4, #e2faf2, #d1faf4);
  padding: 18px 22px; 
  border-radius: 18px;
  max-width: 900px;
  width: 92%;
  gap: 6px; 
  margin: 16px auto;
  border: 3px solid #2b2001; 
  box-shadow: 0 8px 18px rgba(0,0,0,0.25);
  transition: transform .25s ease, box-shadow .25s ease;
}

.feed-texto:hover {
  transform: translateY(-4px);
  box-shadow: 0 14px 28px rgba(71, 47, 3, 0.685);
}

.feed-texto h2 {
  font-size: 1.45rem; 
  margin: 0;
  color: #00203d; 
}

.feed-texto p {
  font-size: 0.92rem; 
  margin: 0;
  line-height: 1.5;
  color: #000000;
}

.imgdecor{
    width: 500px;
    height: auto;
    margin-top: 20px;
    border: 3px solid #2b2001; 
  box-shadow: 0 8px 18px rgba(0,0,0,0.25);
  transition: transform .25s ease, box-shadow .25s ease;
    
}

.imgdecor:hover {
  transform: translateY(-4px);
  box-shadow: 0 14px 28px rgba(71, 47, 3, 0.685);
}







