body{
    text-align: center;
    background: linear-gradient(to bottom, #689689, #B2E6D4);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 48px; 
}

header{
  background: #504136;
  color: #B2E6D4;
  padding: 1px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

header nav a {
  margin-left: 18px;
  text-decoration: none;
  color: #B2E6D4;
  font-weight: 500;
  cursor: pointer;
}

header nav a.ativado {
  border-bottom: 2px solid #83EBBA;
}

.logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #83EBBA;
    font-family: "Stack Sans Notch", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.imglogo{
    margin-left: 250px; 
    width: 80px;
    height: 80px;
}


.intro h2 {
  color: #504136;
  font-size: 2rem;
  margin-bottom: 8px;
}

.intro p {
  font-size: 1.1rem;
  color: #1f1f1f;
}

h1 {
   text-align: center; 
   margin-top: 20px;
   color: #504136;
}

img{
    width: 60px;
    height: 60px;
}

.area-listas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 48px;
  padding: 0 20px;
}

.item {
  background: #689689;
  padding: 36px 0;
  border-radius: 12px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #504136;
  transition: 0.25s;
  cursor: pointer;
}

.item:hover {
  background: #83EBBA;
  transform: translateY(-4px);
}

