section{
 
 display: grid;
 
  justify-content: center;
 
  align-items: center;
 
  height: 300px;

 background-color: aqua;
  
  border-radius: border;

  border-bottom: 0cap;

  box-sizing: border-box;
}


body{
 
    background-color: rgb(73, 206, 128);

}
