section{
 
 display: grid;
 
  justify-content: center;
 
  align-items: center;
 
  height: 300px;

 background-color: aqua;
  
  border-radius: border ;

  
}


body{
 
    background-color: rgb(73, 206, 128);

}
